.venv
dataset/visual_novel
dataset/visual-novels
dataset/visual-novels-yaml-v3
dataset/visual-novels-yaml-v4
dataset/visual-novels-yaml-v6
dataset/visual-novels-yaml-v5
dataset/visual-novels-yaml
dataset/visual_novel_txt
dataset/VNDB
web/python/func/__pycache__
web/python/router/__pycache__
web/python/__pycache__
web/node_modules
package-lock.json