body {
	margin:0;
	font-family: 'Noto Sans KR', sans-serif;
}

.header {
	display: flex;
	justify-content: center;
	gap: 7px;
	width: 100%;
	padding: 10px 0 10px 0;
	background: #0F0F12;
}

.header img {
    width: 64.36px;
	height: 57px;
	opacity: 0.7;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.wrap {
	display: flex;
	width: 100%;
	height: 100%;
    margin-top: 5vh;
}

.insight-story {
	width: 260px;
	height: 57px;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #84B9B3;
}

.chat-container {
    display: flex;
    flex-direction: column;
	width: 80%;
    height: 70vh;
}

.chat {
	overflow-y: auto;
	height:100%;
}

.chat::-webkit-scrollbar {
    width: 6px;  
}

.chat::-webkit-scrollbar-thumb {
    height: 30%; 
    background: #6B7C7A;
    border-radius: 10px;
}

.main-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.Novel-Detail-Background {
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.Novel-Detail-Background img {
	object-fit: fill;
}

.story {
    display: flex;
    width: 90%;
    background: rgba(182, 182, 182, 0.8);
    box-shadow: 0px 0.190909px 0.572727px rgba(0, 0, 0, 0.11), 0px 1.01818px 2.29091px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
    padding: 20px 30px;
}

.story p {
	display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.25rem;
    color: #151414;
    font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	line-height: 29px;

}

.history-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

.history-container {
    width: 15vh;
    padding: 20px;
    background-color: rgba(214, 214, 214, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.history-text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    color: #1DA494;
    margin: 0;
}
.history-logs {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
}
.history-logs::-webkit-scrollbar {
    width: 6px;
}
.history-logs::-webkit-scrollbar-thumb {
    background: #6B7C7A;
    border-radius: 10px;
}
.history-logs p {
	user-select:auto;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: left;
	color: #1DA494;
	text-shadow: 0px 0px 10px rgba(30, 236, 236, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.history-log-start {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	padding-right: 10px;
}
.history-log {
	display: flex;
    flex-direction: row;
    height: 10vh;
}

.circle {
	display: flex;
	width: 22px;
	height: 22px;
	border-radius: 15px;
	background-color: #1DA494;
	margin-right: 5%;
    position: absolute;
    right: 0;
}
.line {
    display: flex;
	border-left : thick dashed #1DA494;
    height : 10vh;
    margin-right: 5%;
    position: absolute;
    right: 10px;
}

.options {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%; 
    max-width: 800px;
}
.options button {
    display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background: #ABB4B3;
	border: 1px solid #ABB4B3;
	box-shadow: 0px 0px 10px rgba(223, 239, 237, 0.65);
	border-radius: 45px;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 29px;
	width: 220px;
	height: 50px;
}
.options button:hover {
    box-shadow: 0px 0px 30px #A3D5C9;
	color: #0C453F;
	text-shadow: 0px 0px 25px #A3D4C9;
}

.profile {
	display: flex;
    height: 30px;
    border-radius: 10px;
    margin: 30px 10px 5px 0px;
}

.profile p {
    align-items: center;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 35%;
}

.content1 {
	display: grid;
    grid-template-columns: minmax(100%, max-content) 1fr;
    background: #383838;
    border: 1px solid #A6A6A6;
    box-shadow: 0px 0.190909px 0.572727px rgba(0, 0, 0, 0.11), 0px 1.01818px 2.29091px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    /* margin-top: 30px; */
    padding: 0 30px 0px 30px;
    max-width: 35%;
    width: fit-content;
}

.content1 p {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	color: #FFFFFF;
	opacity: 0.8;
}

.my-chat {
    display: flex;
    background: #383838;
    border: 1px solid #A6A6A6;
    box-shadow: 0px 0.190909px 0.572727px rgba(0, 0, 0, 0.11), 0px 1.01818px 2.29091px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    grid-template-columns: minmax(100%, max-content) 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 30px 0px 30px;
    max-width: 35%;
    margin-right: 30px;
    left: 55%;
    justify-content: flex-end;
    float: right;
    width: fit-content;
}

.my-chat p {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	color: #FFFFFF;
	opacity: 0.8;
}

.content {
	width: 100%;
    display: flex;
    flex-direction: column;
}
.content_2 {
	width: 100%;
	display: flex;
    flex-direction: row-reverse;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #383838;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.modal-content p {
    text-align: center;
    color: #ffffff;
    opacity: 0.8;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button { /* 선택지 버튼*/
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitBtn, #homeSubmitBtn {
	margin-left: 175px;
    background-color: #527875;
    color: white;
}

#cancelBtn, #homeCancelBtn {
    background-color: #383838;
    color: white;
    border: 1px solid #888;
}

.settings {
    position: relative; /* 새로운 레이어 생성 */
    width: 5%;
    height: 5vh;
    margin-left: 5vh;
    background-color: #fff; /* 배경색 설정으로 시각적 구분 */
    opacity: 1; /* 자식 요소의 투명도 설정 */
    z-index: 10; /* 부모 위로 배치 */
}

/* 햄버거 버튼*/
a {text-decoration: none;
    color: #1DA494;}

* {margin: 0; padding: 0;}


input[id="hamburger"] {
  display: none;
}
input[id="hamburger"] + label {
  display: block;
  width: 5vh;
  height: 4vh;
  position: relative;
  cursor: pointer;
}
input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background: #1DA494;
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 99;
}
input[id="hamburger"]:checked + label span {
  background: #1DA494;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
  width: 50vh;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 98;
  transition: all 0.35s;
}

input[id="hamburger"]:checked + label + div {
  left: 0;
}

.nav_menu {
    position: absolute;
    top:20vh;
    width: 100%;
    }

.sidebar .nav_menu li {
	color:black;
    position: relative;
    float:left; 
    width:100%; 
    list-style-type:none; 
    font-size:20px;
    border-bottom:1px solid #ccc;
    font-family: 'Noto Sans KR';
    font-weight:bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    }
    
.sidebar a {
    padding: 0;
    text-decoration: none;
    display: block;
}

.sidebar li a{
    display:block;
    font-weight:bold;
    line-height:40px;
    margin:0px;
    padding:0;
    text-align:center;
    text-decoration:none;
    transition: all 0.4s;
    }

.sidebar li a:hover, .sidebar ul li:hover a {
    text-decoration: none;
    color: #eee;
    padding: 0;
    margin: 0;
    border: 0px;
}
/* 햄버거 버튼 종료 */

/* 히스토리 로그 버튼 */
div[class="history-logs-sidebar"] {
    width: 50vh;
    height: 90%;
    background: white;
    position: fixed;
    padding: 5vh 2vh 5vh 2vh;
    top: 0;
    right: -100%;
    z-index: 98;
    transition: all 0.35s;

    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
  }
.history-container:hover{
    z-index: 98;
  }
.history-container:hover .history-logs-sidebar {
    right: 0;
}
    
.history-logs-sidebar::-webkit-scrollbar {
    width: 6px;
}
.history-logs-sidebar::-webkit-scrollbar-thumb {
    background: #6B7C7A;
    border-radius: 10px;
}
.history-logs-sidebar p {
    width: 95%;
	user-select:auto;
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: left;
	color: #1DA494;
	text-shadow: 0px 0px 10px rgba(30, 236, 236, 0.5);
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.history-logs-sidebar p:hover {
	color: #D6D6D6;
	text-shadow: 0px 0px 10px #1EECEC;
}