<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Index page</title>
	<link rel="stylesheet" href="../css/index.css">
	<!-- 돌아가기 아이콘-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<a href="/list" style="text-decoration:none;">
		<div class="header">
		    <img src="../img/insight-logo.png" alt="로고">
			<div class="insight-story">
				<p>Insight Story</p>
			</div>
		</div>
	</a>
	
	<div class="container" th:style="'background-image: url(\'../img/background-shadow.png\'), url(' + ${story.getImage} + ');'">
		
		<div class="back" onclick="history.back()" style="cursor:pointer;">
			<div class="icon">
				<i class="fa fa-angle-left fa-2x"></i>
			</div>
			<div class="back-text">돌아가기</div>
		</div>
		<div class="contents">
			<div class="left">
				<div class="title" th:text="${story.getName}"></div>
				<div class="charater" th:text="'등장인물:  '+ ${story.getCharacter}"></div>
				<div class="story">
					<div class="story-text" th:text="${story.getSummary}"></div>
				</div>
			</div>
			<div class="right">
				<div class="img-box">
					<img class="img" th:src="${story.getImage_char}">
				</div>
				<div class="start"  th:onclick="|goToSelectContent('${story.getId}')|" style="cursor:pointer;">
					시작 버튼
				</div>
			</div>
		</div>
	</div>
	<script src='../js/index.js'></script>
</body>
</html>