<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>List Page</title>
    <link rel="stylesheet" href="../css/list.css">
</head>
<body>
	<a href="/list" style="text-decoration:none;">
		<div class="header">
		    <img src="../img/insight-logo.png" alt="로고">
			<div class="insight-story">
				<p>Insight Story</p>
			</div>
		</div>
	</a>
    
    <div class="index">
		<p>다양한 이야기를 경험해보세요!</p>
	</div> 
	
	<div class="background-image">
	</div>
	<div class="contents">
		<div class="left">
			<div class="up-box" th:id="${story_list[5].getId}" 
				th:style="'background-image: url(' + ${story_list[5].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[5].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[5].getName}"></div>
				</div>
			</div>
			<div class="down-box" th:id="${story_list[3].getId}" 
				th:style="'background-image: url(' + ${story_list[3].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[3].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[3].getName}"></div>
				</div>
			</div>
		</div>
		<div class="mid">
			<div class="up-box" th:id="${story_list[4].getId}" 
				th:style="'background-image: url(' + ${story_list[4].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[4].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[4].getName}"></div>
				</div>
			</div>
			<div class="down-box" th:id="${story_list[2].getId}" 
				th:style="'background-image: url(' + ${story_list[2].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[2].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[2].getName}"></div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="up-box" th:id="${story_list[0].getId}"
				th:style="'background-image: url(' + ${story_list[0].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[0].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[0].getName}"></div>
				</div>
			</div>
			<div class="down-box" th:id="${story_list[1].getId}" 
				th:style="'background-image: url(' + ${story_list[1].getImage} + ')'" 
				th:onclick="'moveDetailStory('+ ${story_list[1].getId} + ')'" style="cursor:pointer;">
				<div class="box-background"></div>
				<div class="box-content">
					<div class="box-title" th:text="${story_list[1].getName}"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="move_rink.js">
	</script>
</body>
</html>
